/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Général */
*{
    margin: 0;
    font-family: var(--font-text);
    color: var(--white);
}

:root{
    --font-text: "Open Sans", sans-serif;
    --font-title: "Raleway", sans-serif;
    --background: #011826;
    --orange: #FF9A16;
    --white: #F7FFF2;
    --red: #E7174A;
    --green-water: #2CC1AA;
    --max-width: 1470px;
    --ease-out: 0.3s ease-out;
}

a{
    color: var(--white);
    text-decoration: none;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Header */

header{
    background: var(--background);
}

header div{
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
    animation: 1.5s fadeInUp;
}

header nav a{
    color: var(--orange);
    transition: var(--ease-out);
}

header nav a:hover{
    color: var(--red);
    transition: var(--ease-out);
}

.btn{
    background: var(--orange);
    color: var(--white);
    padding: 4px 10px;
    transition: var(--ease-out);
}

.btn:hover{
    background: var(--red);
    color: var(--white);
    transition: var(--ease-out);
}

#active{
    color: var(--red);
}

header img{
    width: 180px;
}

/* Section 1 */

.section1{
    background: var(--background);
}

.section1 > div{
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
}

.section1 > div img{
    width: 664px;
    animation: 3.5s fadeInUp;
}

.section1 > div h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.section1 > div p{
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 30px;
}

.section1 > div div{
    width: 40%;
    animation: 2.5s fadeInUp;
}

/* Section2 */

.section2{
    background: var(--background);
}

.section2 div{
    max-width: var(--max-width);
    margin: auto;
}

.section2 div h2{
    font-size: 36px;
    padding-bottom: 50px;
    text-align: center;
}

.section2 img{
    width: 798px;
    margin-left: 10%;
}

.section2 div article{
    width: 22%;
    background: var(--orange);
    position: absolute;
    top: 22%;
    left: 58%;
    padding: 30px;
}

.section2 > div div{
    position: relative;
    padding-bottom: 100px;
}

.section2 > div article h3{
    margin: 20px 0;
}

.section2 > div article p:nth-child(2){
    margin-bottom: 20px;
}

.section2 article a{
    background: var(--background);
    border: 1px solid var(--white);
    position: absolute;
    left: 34%;
    top: 96%;
}

.section2 #dwwm img{
    margin-left: 30%;
}

#dwwm article{
    left: 10%;
}

/* Footer */

footer{
    background: var(--green-water);
}

footer div{
    max-width: var(--max-width);
    margin: auto;
    text-align: center;
    padding: 10px 0;
    color: var(--white);
}